@tailwind base;
@tailwind components;
@tailwind utilities;



/* Marquee CSS */
.marquee-bg {
  background: linear-gradient(to right, rgba(0, 140, 255, 0.1), rgba(0, 200, 255, 0.3));
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  animation: marquee 15s linear infinite;
  font-size: 2rem;
  color: rgba(0, 150, 255, 0.8);
}

.marquee span {
  margin-right: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
